$icon-default-size: 2rem;

@mixin hover($color) {
  &:hover {
    background: $color;
  }
}

%box {
  border: 1px solid black;
}

.icon {
  height: $icon-default-size;
  width: $icon-default-size;
}

.box-icon {
  @extend %box;

  @include hover(rgb(255, 0, 0));

  .icon {
    height: 100%;
    width: 100%;
  }
}

.ex1-2 {
  // error: width: (2 + px) * 2;
  width: 2px + 2px;

}