.box-icon {
  border: 1px solid black; }

.icon {
  height: 2rem;
  width: 2rem; }

.box-icon:hover {
  background: red; }
.box-icon .icon {
  height: 100%;
  width: 100%; }

.ex1-2 {
  width: 4px; }

/*# sourceMappingURL=style.css.map */
