<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Team Counter Simple SPA</title>

		<link rel="stylesheet" href="../styles/main.css" type="text/css">

		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

		<script src="scripts/ui.js"></script>
		<script src="scripts/bl.js"></script>
		<script src="scripts/dl.js"></script>

		<script id="index-view" type="text/x-handlebars-template">
			<p>Your team is <strong>{{counter.team}}</strong></p>
			<p>Your current count is <strong>{{counter.count}}</strong></p>
			<form>
				<button data-click="up">Count Up</button>
			</form>
		</script>

		<script>
			// bootstrap
			(function($) {
			    $(function() { /* DEMO3 */
                    let controller = new ui.CounterController(); /* DEMO3 */

                    let routerOutlet = $("#appContainer"); /* DEMO3 */
                    let router = new ui.Router({
                        rootPath: "/demo3_final/",
                        initialRoute: "index",
                        routes: {
                            "index": () => { controller.indexAction(routerOutlet); /* DEMO3 */ }
                        }
                    });
                    router.initialize();
				});
			})(jQuery);

		</script>
	</head>
	<body>
		<h1>Team Counter Simple SPA</h1>
		<div id="appContainer"></div>
	</body>
</html>
