<p>Your team is <figure>
  <img src="{{counter?.team | logo:'toImage'}}" alt="{{counter?.team | logo}}">
  <figcaption>{{counter?.team | logo}}</figcaption>
</figure>
</p>
<p>Your current count is <strong>{{counter?.count}}</strong></p>
<form>
  <ng-content select="[button-bar-item]"></ng-content>
  <button (click)="up($event)">Count Up</button>
</form>
