﻿@{
    ViewData["Title"] = "Home Page";
}


<h1>BMI Calculator</h1>

<form class="form-inline" method="post">
    <div class="form-group">
        <label for="height">Height</label>
        <div class="input-group">
            <input type="number" class="form-control" name="height" id="height" placeholder="height in cm">
            <div class="input-group-addon">cm</div>
        </div>
    </div>
    <div class="form-group">
        <label for="weight">Weight</label>
        <div class="input-group">
            <input type="number" class="form-control" name="weight" id="weight" placeholder="weight in kg">
            <div class="input-group-addon">kg</div>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Calculate!</button>
</form>