<p>Wählen Sie Anzahl und Art der Münzen aus die Sie werfen möchten:</p>
<form action="/random" method="get">
    <div>
        <label>
            Anzahl
            <input  name="count" type="number" step="1" min="1" max="100" value="{{count}}" required>
        </label>
        <label>
            Münzen Typ
            <select name="type">
                {{#each coinTypes}}
                    <option value="{{this}}" {{?cond this @root.type 'selected' ''}}>{{this}}</option>
                {{/each}}
            </select>
        </label>
    </div>
    <button type="submit">Flip Coins!</button>
    <button type="reset">Reset</button>
</form>

