<h1>You flipped [{{coins.length}}] coins</h1>

<div class="container">
    {{#each coins}}
        <img src="/images/coins/{{@root.type}}/{{? this 'obverse.jpg' 'reverse.jpg'}}">
    {{/each}}
</div>
<form action="/random" method="get">
    <input value="{{coins.length}}"  name="count" hidden>
    <input value="{{type}}"  name="type" hidden>
    <button type="submit">Nochmals!</button>
    <a href="/">Zurück</a>
</form>






