<p>Your team is <strong>{{counter?.team}}</strong></p>
<p>Your current count is <strong>{{counter?.count}}</strong></p>
<form>
  <ng-content select="[button-bar-item]"></ng-content>
  <button (click)="up($event)">Count Up</button>
</form>
