<!-- TODO: Add ng2 specific directives/validation settings and add styling -->
<form (ngSubmit)="doLogin(null)">
  <div>
    User name:
    <div>
      <input pattern=".{3,}" placeholder="User" type="text" name="login" />
      <div>Please specify your login, at least three characters.</div>
    </div>
  </div>
  <div>
    Password:
    <div>
      <input pattern=".{3,}" placeholder="Password" type="password" name="password" />
      <div>Please specify your login, at least three characters.</div>
    </div>
  </div>
  <button>Login</button>
</form>
