﻿@using Asp.Net.Uebung_01.Controllers
@using Asp.Net.Uebung_01.Models

@model Asp.Net.Uebung_01.Models.Bmi
@{
    ViewData["Title"] = "Home Page";
    double value = ViewBag.Value;

    var data = new[]
    {
         new {Text = "starkes Untergewicht", Max=16.0},
         new {Text = "mäßiges Untergewicht", Max=17.0},
         new {Text = "leichtes Untergewicht", Max=18.5},
         new {Text = "Normalgewicht", Max=25.0},
         new {Text = "Präadipositas", Max=30.0},
         new {Text = "Adipositas Grad I", Max=35.0},
         new {Text = "Adipositas Grad II", Max=40.0},
         new {Text = "Adipositas Grad III", Max=999.0},
     };
}
 
<p>Ihr BMI: @value</p>

<table>
    <thead>
    <tr>
        <th>Beschreibung</th>
        <th>Von</th>
        <th>Bis </th>
    </tr>
    </thead>
    
    @{
        double old = 0;
        foreach (var entry in data)
        {
            <tr style="@(value > old && value <= entry.Max ? "background: lightgray" : "")">
                <td>@entry.Text</td>
                <td>@old</td>
                <td>@entry.Max</td>
            </tr>
            old = entry.Max;
        }
    }
</table>


@section Scripts{
    <script src="lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}

 