﻿@using Asp.Net.Uebung_01.Controllers
@using Asp.Net.Uebung_01.Models

@model Asp.Net.Uebung_01.Models.Bmi
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <form asp-action="Bmi" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#result">
        <label asp-for="Height"></label>
        <input asp-for="Height" />
        <label asp-for="Weight"></label>
        <input asp-for="Weight" />
        <input type="submit" value="Rechnen!"/>
    </form>
    <div id="result"></div>
</div>

@section Scripts{
    <script src="lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}