<h1>
  {{title}}
</h1>
<wed-counter>
</wed-counter>

<!--
<form #form="ngForm">
  <input type="password" placeholder="Password" name="password" #password="ngModel" ngModel>
  <input type="password" placeholder="Repeat Password" name="repeatPassword" #repeatPassword="ngModel" ngModel>
  <small [hidden]="repeatPassword.valid || repeatPassword.pristine">
    Please ensure passwords are the same...
  </small>
</form>
-->
